@{
    ViewBag.Title = "Paradise Travels - Home Page";
}

<div class="jumbotron">
    <h1>Paradise Travels</h1>
    <p class="lead">Paradise Travels is a holiday booking app which provides the facilities for booking holidays and other accommodations for customers.</p>
    <p><a href="~/Rooms/AllRooms" class="btn btn-primary btn-lg">View Hotels &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hotels</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a href="@Url.Action("Index","Rooms")" class="btn btn-success"><i class="fa fa-shopping-cart"></i>Hotels</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tours</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a href="@Url.Action("Index","Tours")" class="btn btn-warning"><i class="fa fa-shopping-cart"></i>Tours</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a href="@Url.Action("Index","Events")" class="btn btn-info"><i class="fa fa-shopping-cart"></i>Events</a></p>
    </div>
</div>